.header {
  background: white;
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
  padding: 12px;
}

.header h3 {
  font-weight: 800;
}

.header ul {
  display: flex;
  list-style-type: none;
  gap: 8px;
}

.header ul li:hover {
  color: purple;
  cursor: pointer;
}
